<div class="row pad">

  <div class="col-sm-4">

    <div class="card box">

      <div class="card-img-wrapper">
          <img class="card-img-top" src="assets/images/{{newProduct.Image}}.jpg">
      </div>
      <hr>
      <div class="card-body">
        <h1 class="card-title">{{newProduct.Name}}</h1>
          <h2><mat-icon>stars</mat-icon>There are only {{newProduct.Stock}} products of this kind left </h2>
          <h2><mat-icon>stars</mat-icon>{{newProduct.Price}} $</h2>

      </div>
      <div class="card-footer">
        <div>
          <button (click)="onBack()" class="btn btn-primary btn-group" ><mat-icon>arrow_left_alt</mat-icon> Back</button>
          <button *ngIf='newProduct' class="btn btn-primary btn-group" (click)="addToCart(newProduct)" (click)="AddToCartDialog()"><mat-icon>add_shopping_cart</mat-icon> Add To Cart</button>
          <button class="btn btn-primary btn-group" (click)="ReviewDialog()"><mat-icon>speaker_notes</mat-icon> Reviews</button>

        </div>
      </div>

  </div>

</div>

  <div class="col-sm-8">
    <div class="card box p-3">
      <mat-tab-group>
        <mat-tab label="Product Description">
          <h2>{{newProduct.Description}}</h2>
        </mat-tab>
        <mat-tab label="Parameters">
          <div class="row col-sm-12 pt-5">
            <div class="col-sm-6">
              <div>
                <strong>Material</strong>
                <h2 class=" pt-3"><mat-icon>minimize</mat-icon> {{newProduct.Material}}</h2>
              </div>

              <div class="pt-3">
                <strong>Base Type</strong>
                <h2 class=" pt-3"><mat-icon>minimize</mat-icon> {{newProduct.BaseType}}</h2>
              </div>

              <div class="pt-3">
                <strong>Height</strong>
                <h2 class=" pt-3"><mat-icon>minimize</mat-icon> {{newProduct.BackrestHeight}} cm</h2>
              </div>

              <div class="pt-3">
                <strong>Width</strong>
                <h2 class=" pt-3"><mat-icon>minimize</mat-icon> {{newProduct.BackerstWidht}} cm</h2>
              </div>
            </div>
            <div class="col-sm-6">
              <div>
                <strong>Weight</strong>
                <h2 class=" pt-3"><mat-icon>minimize</mat-icon> {{newProduct.Weight}} kg</h2>
              </div>

              <div class="pt-3">
                <strong>Size</strong>
                <h2 class=" pt-3"><mat-icon>minimize</mat-icon> {{newProduct.Size}} cm</h2>
              </div>

              <div class="pt-3">
                <strong>Color</strong>
                <h2 class=" pt-3"><mat-icon>minimize</mat-icon> {{newProduct.Color}}</h2>
              </div>

              <div class="pt-3">
                <strong>Maximum Weight</strong>
                <h2 class=" pt-3"><mat-icon>minimize</mat-icon> {{newProduct.MaximumWeight}} kg</h2>
              </div>
            </div>
          </div>

        </mat-tab>
        <mat-tab label="Images">
          <ngx-gallery *ngIf="newProduct.Id==1" [options]="galleryOptions" [images]="galleryImages1" class="ngx-gallery"></ngx-gallery>
          <ngx-gallery *ngIf="newProduct.Id==2" [options]="galleryOptions" [images]="galleryImages2" class="ngx-gallery"></ngx-gallery>
          <ngx-gallery *ngIf="newProduct.Id==3" [options]="galleryOptions" [images]="galleryImages3" class="ngx-gallery"></ngx-gallery>
          <ngx-gallery *ngIf="newProduct.Id==4" [options]="galleryOptions" [images]="galleryImages4" class="ngx-gallery"></ngx-gallery>
          <ngx-gallery *ngIf="newProduct.Id==5" [options]="galleryOptions" [images]="galleryImages5" class="ngx-gallery"></ngx-gallery>
          <ngx-gallery *ngIf="newProduct.Id==6" [options]="galleryOptions" [images]="galleryImages6" class="ngx-gallery"></ngx-gallery>
        </mat-tab>
      </mat-tab-group>
    </div>


  </div>
</div>
